<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="fhir-terminology-service.ZPM">
    <Module>
      <Name>fhir-terminology-service</Name>
      <Version>1.0.5</Version>
      <Description>Implementation of FHIR Terminology Service specification to expose arbitrary persistent classes as FHIR value sets and code systems</Description>
      <Keywords>FHIR,terminology</Keywords>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="iscru.fhir.PKG"/>
    </Module>
  </Document>
</Export>